<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AboutMeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11DA51E01C4005D700FA18CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11DA51F41C4005D700FA18CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11DA51FF1C4005D700FA18CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
